<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adicionar autor</title>
</head>
<body>
   <h1>formulario de adicao de autor</h1>
   <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="nome_autor" placeholder="nome" value="{{ autor.nome_autor }}">
        <input type="text" name="nacionalidade" placeholder="nacionalidade" value="{{ autor.nacionalidade }}">
        <input type="date" name="data_nascimento" placeholder="data" value="{{ autor.data_nascimento|date:'Y-m-d' }}">
        <input type="text" name="biografia" placeholder="biografia" value="{{ autor.biografia }}">
        <button type="submit">Adicionar</button>
   </form> 
</body>
</html>